body {
    background-color: #212121;
    color: white;
    padding-top: 20px;
}

#chat-window {
    background: #2F2F2F;
    padding: 10px;
    max-width: 75vw;
    height: 85vh;
    margin: auto;
    overflow-y: auto;
}

.message {
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
}

.user {
    background-color: #4a6785;
    text-align: right;
}

.assistant {
    text-align: left;
}

.center-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}